<html>

<head>
    <script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
</head>

<body>
    <div> GetData : <span id="myData"></span> <button onclick="getData();">GetData</button> </div> <br>

    <div>SetData : <input name="test" id="myInput" value="" /> <button onclick="setData();">SetData</button></div>
</body>
<script>

    if (typeof window.ethereum == 'undefined') {
        console.log('MetaMask is not installed!');
    }
    var defaultAccount='0x15e1Da75a1A8EC3a5Eb3aD627BE977777Fa216F0'; // paste from ganache account
    var contract;
    var contractAddress='0x7b7087213Cf558bD14D611BB51c1936dC877f6CD'; // paste contract address from txn
    var web3;
    
    web3 = new Web3(new Web3.providers.HttpProvider("http://127.0.0.1:7545"));

    const abi = [
            {
                "constant": false,
                "inputs": [
                    {
                        "internalType": "uint256",
                        "name": "num",
                        "type": "uint256"
                    }
                ],
                "name": "store",
                "outputs": [],
                "payable": false,
                "stateMutability": "nonpayable",
                "type": "function"
            },
            {
                "constant": true,
                "inputs": [],
                "name": "retrieve",
                "outputs": [
                    {
                        "internalType": "uint256",
                        "name": "",
                        "type": "uint256"
                    }
                ],
                "payable": false,
                "stateMutability": "view",
                "type": "function"
            }
        ]

    contract = new web3.eth.Contract(abi, contractAddress)
    console.log('contract', contract.methods, contract.methods.setData)


    function setData() {

        let inputValue = document.getElementById('myInput').value
        contract.methods.store(inputValue).send({ from: defaultAccount }).then(receipt => {
            console.log(receipt)
            alert('Txn sent : '+receipt.transactionHash)
        });
    }

    function getData() {
        console.log('Calling get Data')
        contract.methods.retrieve().call().then(receipt => {
            console.log(receipt)
            document.getElementById('myData').innerHTML = receipt
        });
    }


</script>

</html>