<html>

<head>
    <script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
</head>

<body>
    <div> GetData : <span id="myData"></span> <button onclick="getData();">GetData</button> </div> <br>

    <div>SetData : <input name="test" id="myInput" value="" /> <button onclick="setData();">SetData</button></div>
</body>
<script>

    if (typeof window.ethereum == 'undefined') {
        console.log('MetaMask is not installed!');
    }
    var defaultAccount=''; // paste from ganache account
    var contract;
    var contractAddress=''; // paste contract address from txn
    var web3;

    ethereum.request({ method: 'eth_requestAccounts' }).then(account => {
        console.log('accounts', account)
        // defaultAccount = account[0]
        // defaultAccount = '0xdB9DBb9AC76875f5974dA30545A589036E97d2a2'

        // web3 = new Web3(new Web3.providers.HttpProvider("https://rinkeby.infura.io/v3/2b1bada3f07841699d95e47f4b41b36f"));
        const web3 = new Web3(new Web3.providers.HttpProvider("http://127.0.0.1:7545"));
        if (typeof web3 == 'undefined') {
            alert('Web3 is not ready')
        }

        const abi = [
            {
                "constant": false,
                "inputs": [
                    {
                        "internalType": "uint256",
                        "name": "num",
                        "type": "uint256"
                    }
                ],
                "name": "store",
                "outputs": [],
                "payable": false,
                "stateMutability": "nonpayable",
                "type": "function"
            },
            {
                "constant": true,
                "inputs": [],
                "name": "retrieve",
                "outputs": [
                    {
                        "internalType": "uint256",
                        "name": "",
                        "type": "uint256"
                    }
                ],
                "payable": false,
                "stateMutability": "view",
                "type": "function"
            }
        ]

        // contractAddress = '0xd38b4A4E698F963c5f329D7DC8dc6CD5EE0dA63e' // rinkeby address
        // contractAddress = '0xdB9DBb9AC76875f5974dA30545A589036E97d2a2' // ganache address

        contract = new web3.eth.Contract(abi, contractAddress)
        console.log('contract', contract.methods, contract.methods.setData)
    })


    function setData() {

        let inputValue = document.getElementById('myInput').value
        contract.methods.store(inputValue).send({ from: defaultAccount }).then(receipt => {
            console.log(receipt)
            alert('Txn sent ')
        });
    }

    function getData() {
        console.log('Calling get Data')
        contract.methods.retrieve().call().then(receipt => {
            console.log(receipt)
            document.getElementById('myData').innerHTML = receipt
        });
    }


</script>

</html>